.fvs-guideline-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;

  .fvs-guideline-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background-color: #4356ff;
    transform-origin: 0 50%;
    will-change: transform;
  }
}
